# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Database
*.db
*.db-shm
*.db-wal

# Build results
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg
.nuget/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
.vscode
.history/
.vs
# Rider
.idea/

# Logs
logs/
*.log
